{% extends "base.html" %}
{% block title %}My Account{% endblock %}
{% block content %}

<h1>My Recipe Account</h1><br>
<div id="logo">
    <img class="center" width="100" height="75" alt="Egg-2-Z" src="{{ url_for('static', filename='images/logo.png') }}"/>
</div>
<h4 class="h4_title">What would you like to do?</h4>
<a id="add_recipe_link" class="link-light" name="add_recipe_link" onclick="showAddRecipe()"><h5>ADD A RECIPE</h5></a>
<div id="add_recipe">
    <section class="form-signin">
        <form method = 'POST' class="needs-validation" enctype="multipart/form-data">
            <div>
                <label for="recipe_name" class="form-label">Recipe Name:</label>
                <input type="text" class='form-control form-control-sm' id="recipe_name" name="recipe_name" value="" required>
            </div>
            <div>
                <label for="ingredients">Ingredients:</label>
                <span><button type="button" id="ingredients_new_line" value="+" onclick="newLineIngredients()">+</button></span>
                <textarea class="form-control form-control-sm" name="ingredients" id="ingredients" rows="5" required></textarea>

            </div>
            <div>
                <label for="instructions">Instructions:</label>
                <span><button type="button" id="instructions_new_line" value="+" onclick="newLineInstructions()">+</button></span>
                <textarea class="form-control form-control-sm" name="instructions" id="instructions" rows="5" required></textarea>
            </div>
            <div>
                <label for="servings">Serves:</label>
                <input type="text" class="form-control form-control-sm" value="" id="servings" name="servings">
            </div>
            <div>
                <label for="review">Review:</label>
                <textarea class="form-control form-control-sm" id="review" name="review"></textarea>
            </div>
            <div class="form-check">
                <input id="easy" name="difficulty" type="radio" class="form-check-input" value="Easy" checked required>
                <label class="form-check-label" for="easy">Easy</label>
            </div>
            <div class="form-check">
                <input id="moderate" name="difficulty" type="radio" class="form-check-input" value="Moderate" checked required>
                <label class="form-check-label" for="moderate">Moderate</label>
            </div>
            <div class="form-check">
              <input id="hard" name="difficulty" type="radio" class="form-check-input" value = "Hard" checked required>
              <label class="form-check-label" for="hard">Hard</label>
            </div>
            <hr>
            <div class="mb-3">
                <label for="image_upload" class="form-label">Add a picture:</label>
                <input class="form-control form-control-sm" type="file" id="image_upload" name="image_upload" accept="image/png, image/jpeg">
                <button type="submit" class="w-75 btn btn-primary btn-lg" name = "btn_identifier" id="submit_recipe" value="add_recipe">Submit Recipe</button>
            </div>
        </form>
    </section>
</div>
<hr>

<a id="del_recipe_link" name="del_recipe_link" class="link-light" onclick="showDelRecipe()"><h5>DELETE A RECIPE</h5></a>
<div id="del_recipe" >
    <section class="form-signin">
        <form method = 'POST'>
            <div>
                {% if all_recipes|length > 0 %}
                    {% for recipes in all_recipes %}
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="recipe_remove" name="delete_name" value="{{recipes.name}}">
                    <label class="form-check-label" for="recipe_remove">{{recipes.name}}</label>
                </div>
                    {% endfor %}
                <div>
                    <button class="w-100 btn btn-primary btn-lg" type="submit" id="delete_recipe" name="btn_identifier" value="delete_recipe" onclick="return confirm('Are you sure? This will delete recipe for good!')">Delete Recipe</button>
                </div>
                {% else %}
                    <h3>No Recipes in your account</h3>
                {% endif %}
            </div>
        </form>
    </section>
</div>
<hr>

<a id="leave_review" name="leave_review" class="link-light" onclick="showReviews()"><h5>REVIEW A RECIPE</h5></a>
<div id="reviews">
    <section class="form-signin">
        <form method = 'POST'>
            {% if all_recipes|length > 0 %}
                {% for recipes in all_recipes %}
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="review_choice" name="review_choice" value="{{recipes.name}}">{{recipes.name}}<br />
                    </div>
                {% endfor %}
            <div class="form-label-group">
                <textarea placeholder="Leave your comments here." name="user_review" class="form-control form-control-sm" rows="2"></textarea>
            </div>
            <br>
            <div>
                <button type="submit" class="w-75 btn btn-primary btn-lg" id="review_recipe" name="btn_identifier" value="review_recipe">Submit</button>
            </div>
            {% else %}
                <h3>No Recipes in your account</h3>
            {% endif %}
        </form>
    </section>
  </div>
<hr>

<a id="see_reviews" name="see_reviews" class="link-light" onclick="showReviewed()"><h5>SEE YOUR RECIPE REVIEWS</h5></a>
<div id="show_reviews">
    <section class="form-signin">
        {% if all_recipes|length > 0 %}
            {% for recipes in all_recipes %}
                {% if recipes.reviews != "" %}
                    <li class="review_paragraph">{{recipes.name}}<li>{{recipes.reviews}}</li></li>
                    <br>
                {% else %}
                    <li class="review_paragraph">{{recipes.name}}:<li>No Reviews yet!</li></li>
                    <br>
                {% endif %}
            {% endfor %}
        {% else %}
                <h3>No Recipes in your account</h3>
        {% endif %}
    </section>
</div>

{% endblock %}
