{% extends "base.html" %}
{% block title %}Recipes{% endblock %}
{% block content %}
<h1>Welcome to the Recipe Page!</h1>
<h2>View all recipes</h2>
{% for recipe in all_recipes %}
    <img src="static/images/{{recipe.image}}">

    <div id="recipe_name"><h2>{{recipe.name}}</h2></div>
    <div id="difficulty"><h3>Difficulty: {{recipe.difficulty}}</h3></div>
    <div><h3>Ingredients: </h3></div>
    {% for ingredients in recipe.ingredients %}
        <li id="ingredients">{{ ingredients }}</li>
    {% endfor %}
    <div><h3>Instructions: </h3></div>
    {% for instructions in recipe.instructions %}
        <li id="instructions">{{instructions}}</li>
    {% endfor %}
    <div><h3>Servings: </h3></div>
    {% for servings in recipe.servings %}
        <li id="servings">{{servings}}</li>
    {% endfor %}
    {% if recipe.reviews is defined %}
        {% for reviews in recipe.reviews %}
            <li id="reviews">{{ reviews }}</li>
        {% endfor %}
    {% endif %}

{% endfor %}





{% endblock %}

