{% extends "base.html" %}
{% block title %}Sign up{% endblock %}
{% block content %}
<section class="text-center">
    <div class="form-signin">
        <form method="POST">
            <h2 class="h3 mb-3 fw-normal" align="center">Sign Up</h2>
            <hr>
            <div class=form-floating">
                <input type="email" class="form-control" id="floatingInput" name='email' placeholder="Email Address">
            </div>
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingName" name="first_name" placeholder="Password">
                <label for="floatingName">First Name</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword1" name="password1" placeholder="Password">
                <label for="floatingPassword1">Password</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword2" name="password2" placeholder="Password">
                <label for="floatingPassword2">Confirm Password</label>
            </div>
        <hr>
            <div><button class="w-50 btn btn-lg btn-primary" type="submit">Sign up</button></div><br>
            <div><button class="w-50 btn btn-lg btn-primary" type="reset">Reset</button></div>
        </form>
    </div>
</section>
{% endblock %}
