/* styling for my_account page */
#add_recipe, #del_recipe, #reviews, #show_reviews{
    display: none;
}

/* styling for website layout */
.bd-placeholder-img {
font-size: 1.125rem;
text-anchor: middle;
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
}

@media (min-width: 768px) {
.bd-placeholder-img-lg {
  font-size: 3.5rem;
 }
}

main {
margin-top: 100px;
}

footer {
margin-top: 500px;
}

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 42em;
}

/* sign in and login styling */
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
  margin-bottom: 10px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input{
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/* nav bar styling */

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

/* button styling */

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none;
}

/* list styling */

.align_to_left {
text-align: left;
}

.recipe_images {
width: 200px;
height: 175px;
}

.px-3 {
margin-top: 50px;
}

.move-left {
    width: auto;
    box-shadow: none;
  }

.review_paragraph {
text-align: left;
text-size: small;
list-style: none;
}

.h4_title{
margin-top: 50px;
margin-bottom: 50px;
}

a.link-light:hover {
color: pink;
cursor: pointer;

}










